body{
    background-image: url(../assets/images/body_bg.jpg)
}
header{
    height:50px;
    div{
        position: fixed;
        top: 0;
        width: 100%;
        background-color: #333;
        z-index: 999;
    }
    nav{
        display: flex;
        width: 1200px;
        margin: 0 auto;
        span{
            color:#EEEE00;
            height: 48px;
            line-height: 48px;
            font-size: 18px;
            flex-basis: 100px;
        }
    }
}
.ant-menu-horizontal{
    background-color: #333;
    border-bottom: none;
    .ant-menu-item{
        margin-bottom: 0;
        border-bottom: none;
        margin-top: 0;
        top: 0;
    }
    .ant-menu-item:hover{
        color:#fff;
        border-bottom: none;
        background-color: #222;
    }
    .ant-menu-item > a{
        color:#fff;
    }
    .ant-menu-item > a:hover{
        color:#fff;
    }
    .ant-menu-item-selected{
        border-bottom: none;
        color:#fff;
        background-color: #222;
    }
}
.ant-menu{
    color:#fff;
}